
.inputController.coverPanel{
    position: absolute;
    background: #fff;
    border: 1px solid #e3e3e3;
    z-index: 99999!important;
    display: block!important;
    margin: 0!important;
}

.inputController.mainPanel{
    position: relative!important;
    overflow: auto!important;
    background: #fff;
    margin: 0px 10px;
    border-bottom: 1px solid #e3e3e3;
    text-align:left;
    cursor:pointer;
}

.inputController.mainPanel.last { border-bottom: 0;  }
.inputController.infoPanel{
    text-align: center;
    position: relative;
    border-bottom: 1px;
    border-bottom-style: outset;
    overflow: auto;
    border-left: 1px solid #e3e3e3;
    padding: 5px;
}
.inputController.innerPanel{
    position: relative;
    overflow: auto;
}

.inputController.innerPanel:hover{
    cursor: pointer;
}


.inputController.textContent{
    position: relative;
    float: left;
    width: 80%;

}

.inputController.info{
    position: relative;
    display: inline-block;
    width: 75%;
    color: #83609E;
    font-size: 13px;
    font-weight: bold;
}

.inputController.info.place{
    font-weight: normal;
}

.inputController.img{
    position: relative;
    float: left;
    width: 12%;
}

.inputController.img img{
    width: 40px;
    height: 40px;
}
.inputController.coverPanel .selectedText{
    font-weight: bold;
}